t1 {
    font-family: "Helvetica";
    font-size: 50px;
}

.center {
    text-align: center;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    border: 5px solid #ddd;
    padding-top: 30px;
}

.ui-progressbar-value {
    height: 30px;
    background-color: cornflowerblue;
}

p1 {
    padding-top: 5px;
    padding-left: 500px;
    position: absolute;
}

#agemeter {
    background-color: lightgray;
}

#response {
	position: absolute; 
	padding-left: 280px;
	padding-top: 350px; 
	z-index: 8; 
	pointer-events: none;
	white-space: -moz-normal!important;  /* Mozilla, since 1999 */
	white-space: -webkit-normal; /*Chrome & Safari */ 
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-normal;    /* Opera 7 */
	white-space: normal;       /* css-3 */
	word-wrap: normal;       /* Internet Explorer 5.5+ */
	word-break: normal;
	white-space: normal;
	width: 450px;
}

question {
	position: absolute;
	z-index: 8; 
	pointer-events: none;
	white-space: -moz-normal!important;  /* Mozilla, since 1999 */
	white-space: -webkit-normal; /*Chrome & Safari */ 
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-normal;    /* Opera 7 */
	white-space: normal;       /* css-3 */
	word-wrap: normal;       /* Internet Explorer 5.5+ */
	word-break: normal;
	white-space: normal;
	width: 600px;
	padding-left: 210px;
}

#q1 {
	padding-top: 435px;
}

#q2 {
	padding-top: 495px;
}

#q3 {
	padding-top: 555px; 
}